body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 100px;
    /* grid-template-rows: 33% 33% 33%; */
    /* o body é o pai,então ele determina o tamanhos dos filhos 
    ao invés de usar 33% três vezes,podemmos usar apenas 1f */
   
}

header{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
main{
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
footer{
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
   
}